<?xml version="1.0"?>
<!--*******************************
*	sample lanunch
***********************************-->

<launch>
  <master auto="start"/>

  <!-- 外部変更するための変数  ここでは使わないものもあるが変更するな-->
  <!-- マップ用のパス-->
  <arg name="map_path" />
  <!-- 修正したマップ用のパス-->
  <arg name="remap_path" />
  <!-- waypointのパス-->
  <arg name="waypoint_path" />
  <!-- 修正したwaypointのパス-->
  <arg name="rewaypoint_path" />
  <!-- branchpointのパス-->
  <arg name="branchpoint_path"/>
  <!-- 最終的なwaypointのパス-->
  <arg name="finalwaypoint_path"/>
  <!-- branchpointのwaypointでのindexのパス-->
  <arg name="branchpoint_index_path"/>
  <!-- データ収集bag用のパス-->
  <arg name="data_gather_bag_path" />
  <!-- 本番bag用のパス-->
  <arg name="production_bag_path" />

  <node pkg="map_server" type="map_server" name="map" args="$(arg remap_path)"/>
  <node name="wayp_edit" pkg="waypoint_pkg" type="wayp_edit" output="screen">
    <param name="read_file_name" value="$(arg rewaypoint_path)"/>
    <param name="write_file_name" value="$(arg rewaypoint_path)"/>
    <param name="pose_topic_name" value="/initialpose"/>
    <param name="order_string_name" value="/some_word"/>
  </node>
  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find whill_navi)/rviz/waypoint.rviz"/>
</launch>
