<?xml version="1.0"?>

<launch>
  <master auto="start"/>

  <!-- 外部変更するための変数  ここでは使わないものもあるが変更するな-->
  <!-- マップ用のパス-->
  <arg name="map_path" />
  <!-- 修正したマップ用のパス-->
  <arg name="remap_path" />
  <!-- waypointのパス-->
  <arg name="waypoint_path" />
  <!-- 修正したwaypointのパス-->
  <arg name="rewaypoint_path" />
  <!-- branchpointのパス-->
  <arg name="branchpoint_path"/>
  <!-- 最終的なwaypointのパス-->
  <arg name="finalwaypoint_path"/>
  <!-- branchpointのwaypointでのindexのパス-->
  <arg name="branchpoint_index_path"/>
  <!-- データ収集bag用のパス-->
  <arg name="data_gather_bag_path" />
  <!-- 本番bag用のパス-->
  <arg name="production_bag_path" />

  <!-- use offline -->
  <param name="use_sim_time" value="true"/>
  <arg name="use_ekf_filter" defalut="false"/>
  <!-- map load -->
  <node pkg="map_server" type="map_server" name="map_server" args="$(arg remap_path)"/>


  <!-- waypoint test -->
  <node pkg="waypoint_pkg" type="wayp_auto" name="wayp_auto" output="screen">
    <param name="read_file" value="$(arg waypoint_path)"/>
    <param name="point_distance" value="4.0"/>
    <param name="deg_thresh" value="15.0"/>
    <param name="deg_distance" value="1.0"/>
  </node>

  <node pkg="rosbag" type="play" name="test_play" args="$(arg data_gather_bag_path) -r 2.0 --clock"/> <!-- 0.6 -->
  <include file="$(find whill_navi)/launch/sensor/pointcloud_to_laserscan.launch"/>

  <!-- amcl -->
  <node pkg="amcl" type="amcl" name="amcl">
    <remap from="scan" to="velodyne_scan"/>
    <!-- <remap from="scan" to="scan"/> -->

    <!-- フィルタ関連パラメータ -->
    <!-- 最小のパーティクル数 -->
    <param name="min_particles" value="500"/>
    <!-- 最大のパーティクル数 (多いほど良い、PCのパフォーマンスに応じて設定 -->
    <param name="max_particles" value="4000"/>
    <!-- 実際の分布と推定された分布の間の最大エラー -->
    <param name="kld_err" value="0.05"/>
    <param name="kld_z" value="0.99"/>
    <!-- フィルタの更新に必要な並進運動 (メートル単位)　-->
    <param name="update_min_d" value="0.2"/>
    <!-- フィルタの更新に必要な回転運動 (ラジアン単位) -->
    <param name="update_min_a" value="0.2"/>
    <!-- 再サンプリング間隔 -->
    <param name="resample_interval" value="1"/>
    <!-- 変換許容時間 (秒単位) -->
    <param name="transform_tolerance" value="0.1"/>
    <!-- 指数の減少率 (slow average weight filter) -->
    <param name="recovery_alpha_slow" value="0.0"/>
    <!-- 指数の減少率 (fast average weight filter) -->
    <param name="recovery_alpha_fast" value="0.0"/>

    <!-- スキャンや移動経路の情報を視覚的に表示する周期 (10Hz = 0.1秒) -->
    <param name="gui_publish_rate" value="1.0"/>

    <!-- 距離センサパラメータ -->
    <!-- レーザーの最大距離 (センサに合わせて設定する、メートル単位) -->
    <param name="laser_max_range" value="100.0"/> <!-- 10??? 2016_09_26 -->
    <!-- フィルタが更新されるときに使用されている最大のレーザービームの数 -->
    <param name = "laser_max_beams" value = "30" />
    <!-- センサモデルのz_hit混合重み (micture weight) -->
    <param name="laser_z_hit" value="0.5"/>
    <!-- センサのz_short混合重み (micture weight) -->
    <param name="laser_z_short" value="0.05"/>
    <!-- センサのz_max混合重み (micture weight) -->
    <param name="laser_z_max" value="0.05"/>
    <!-- センサのz_rand混合重み (micture weight) -->
    <param name="laser_z_rand" value="0.5"/>
    <!-- センサのz_hitを使用したガウスモデルの標準偏差 -->
    <param name="laser_sigma_hit" value="0.2"/>
    <!-- センサのz_shortの指数関数パラメータ -->
    <param name="laser_lambda_short" value="0.1"/>
    <!-- likelihood_field方式センサのための障害物との最大距離 -->
    <param name="laser_likelihood_max_dist" value="2.0"/>
    <!-- センサタイプ (likelihood_fieldとbeam選択) -->
    <param name="laser_model_type" value="likelihood_field"/>

    <!-- オドメトリ関連パラメータ -->
    <!-- ロボット移動方式の "diff"と "omni"が選択可能である。 -->
    <param name="odom_model_type" value="diff"/>
    <!-- 回転運動のとき、予想されるオドメトリの回転運動量推定ノイズ -->
    <param name="odom_alpha1" value="0.2"/>
    <!-- 並進運動のとき、予想されるオドメトリの回転運動量推定ノイズ -->
    <param name="odom_alpha2" value="0.2"/>
    <!-- 並進運動のとき、予想されるオドメトリの並進運動量推定ノイズ -->
    <param name="odom_alpha3" value="0.8"/> <!-- 0.4 -->
    <!-- 回転運動のとき、予想されるオドメトリの並進運動量推定ノイズ -->
    <param name="odom_alpha4" value="0.2"/>
    <!-- オドメトリフレームID -->
    <param name="odom_frame_id" value="odom"/> <!-- 2016_09_26  odom_default-->
  </node>

  <!-- rviz -->
  <node pkg="rviz" type="rviz" name="rviz" args=" -d $(find whill_navi)/rviz/waypoint_auto.rviz"/>

</launch>
